*{
    text-decoration: none;
}





button{
    background-color: white;
    color: black;
    border: rgba(83, 81, 81, 0.541) solid 1px;
    border-radius:7px;
    padding: 0.6%;
}

header{
    background-color: lightgrey;
    padding:  20px;
    margin-bottom: 15px;
}    


nav button a{
    color: black;
}

.top-section{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.description{
    padding:20px;
    border: lightgrey 1px solid;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
    justify-content: 
}

.project{
    padding: 2%;
    text-align: center;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

