* { margin:0; padding:0; box-sizing:border-box; }

html{
    font-family: 'Nunito Sans',  monospace, sans-serif;
    
    
}


.navbar{
    
    width: 100%;  
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* border: solid 1px lightgrey; */
    justify-content: center;
    justify-content: space-around;
    padding: 2%;
    box-sizing: border-box;
    align-items: center;
    background-color:  rgb(36, 36, 36);
    max-height: 120px;
    border-bottom: 2px solid rgb(100, 100, 100);
    
}

     nav a {
        
        color: rgba(255, 255, 255, 0.856);
        margin-left: 2%;
        margin-right: 12%;
        text-decoration: none;
        font-weight: 550;
        border-radius: 4px;
        border:  rgb(145, 145, 145) solid 1px;
        width: 100px;
        height: 50px;
        padding: 0.55%;
        padding-top:0.9%;
        transition: 0.2s;
        text-align: center;
        box-sizing: border-box;
         }

     nav a:hover{
        background-color: rgb(211, 210, 210);
        transition: 0.2s;
        color: rgb(43, 42, 42);
        width: 200px;
        box-sizing: border-box;
        
     }
     
     .gifbox{
          display:flex;
         flex-direction: row;
          height: 100%;
         width: 100%;
        background-image:  url("https://media.giphy.com/media/lSzQjkthGS1gc/giphy.gif");
        color: white;
        position:absolute;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
       
         }

    .blur{
        backdrop-filter: blur(0px);
        height: 100vh;
	    width: 100vh;
        
    }

        
        
    


